@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;800;900&display=swap");
body {
  scroll-behavior: smooth; 
  text-align: justify !important;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif !important;
  font-size: 1rem;
  line-height: 1.5;
  text-align: left;
  text-decoration: none;
  background-color: #1B2430 !important;
  color: #ffffff !important;
}
/* SideMenu */

img.img-profile{
  border: rgb(112, 112, 112) 5px solid;
  border-radius: 50%;
  
}
span.menu-item {
  font-size: 20px;
  padding-bottom: 5px;
  color: #fff;
  background: linear-gradient(
      to right,
      rgb(33, 37, 41),
      rgb(33, 37, 41)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 255, 255, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;

}
span.menu-item:hover {
  background-size: 0 3px, 100% 3px;
}

/* Resume Content */
section.resume-section {
  display: flex;
  align-items: center;

}
section.resume-section {
  /* width: 100%; */
  min-height: 100vh;
  margin: auto;
}

h1.name {
  font-size: 8vw;
}

h1.name,
.resume-section-content > h2 {
  
  font-weight: 800;
  background: #121fcf;
  background:linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgb(89, 0, 255),
    rgb(0, 255, 255)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.download{
  padding: 2px 10px;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 10px;
  color: #fff;
  border:none;
  background: 
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 255, 1),
      rgba(0, 255, 255, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 200ms;

}
button.download:hover{
  background-size: 0 3px, 100% 3px;
}
.social-icons .social-icon {
  /* margin-bottom: 20px; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  /* background: #121fcf; */
  color: #fff;
  font-size: 2.5rem;
  margin-right: 1rem;

}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background: 
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 255, 1),
      rgba(0, 255, 255, 1)
    );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.dev-icons {
  font-size: 3rem;
}
.dev-icons > li {
  margin: 0.5rem;
}

.flip {
  overflow: hidden;
  position: relative;
  /* float: right; */
  top: 10px;
  height: 75px;
  /* width: 400px; */

  padding-top: 10px;
  margin-top: 30px;
}
ul.flip4 {
  list-style: none;
  padding-inline-start: 0;
}
.swipe {
  /* font-size: 50px; */
  font-weight: 800;
  padding: 0 0px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  /* width: 300px; */
}
.flip2 {
  animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  animation: flip3 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }

  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }

  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  80% {
    margin-top: -270px;
  }
}

.attribution { 
  font-size: 11px; text-align: center; 
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.header {
  text-align: center;
  line-height: 0.8;
  margin-bottom: 50px;
  margin-top: 100px;
}

.header p {
  margin: 0 auto;
  line-height: 2;
  color:  hsl(228, 45%, 44%);
}

.box {
  border-radius: 5px;
  box-shadow: 0px 30px 40px -20px  hsl(228, 100%, 90%);
  padding: 30px;
  margin: 20px;  
}

img.projec-img  {
  float: right !important;
}

@media (max-width: 450px) {
  .box {
      height: 200px;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      text-align: center;
      height: 180px;
  }
}

.cyan {
  border-top: 3px solid rgb(170, 0, 255);
}
.red {
  border-top: 3px solid red;
}
.blue {
  border-top: 3px solid rgb(0, 170, 255);
}
.orange {
  border-top: 3px solid greenyellow;
}

@media (min-width: 950px) {
  .row1-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .row2-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .box-down {
      position: relative;
      top: 150px;
  }
  .box {
      width: 30%;
   
  }
  .header p {
      width: 30%;
  }
  
}
