
body {
  scroll-behavior: smooth;
  margin: 0;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  text-align: left;
  background-color: #141b29;
}

.social-icons .social-icon {
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
  width: 3.5rem;
  background-color: #10ca64;
  color: #fff;
  border-radius: 100%;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}
.social-icons .social-icon:last-child {
  margin-right: 0;
}
.social-icons .social-icon:hover {
  background-color: #fff;
  color: #05386b;
}

.dev-icons {
  font-size: 3rem;
}

section.resume-section {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
section.resume-section .resume-section-content {
  width: 100%;
}


/* ===== SKILLS =====*/
.skills__container {
  padding-left: 5%;
  padding-right: 5%;
}
.skills__subtitle {
  margin-bottom: 1rem;
}
.skills__text {
  margin-bottom: 2rem;
}
.skills__data {
  color: #000;
  background-color: #8ee4af;
  border: #ffffff solid 1px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 35, 47, 0.3);
}
.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: #fff;
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #141b29;
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}
.skills__python {
  width: 80%;
}
.skills__css {
  width: 90%;
}
.skills__c {
  width: 85%;
}
.skills__php {
  width: 75%;
}
.skills__java {
  width: 70%;
}
.skills__cn {
  width: 70%;
}
.skills__img {
  border-radius: 0.5rem;
}

/*Profect cards*/
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.card {
  flex: 0 0 300px;
  margin: 10px;
  border: 1px solid #ffffff;
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  /* background-color: #ffffff; */
  margin: 20px;
}
.card #cf {
  max-width: 100%;
  /* filter: contrast(80%); */
  /* filter: brightness(90%); */
}

#cf:hover {
  filter: contrast(100%);
  filter: brightness(100%);

  transition: filter 0.4s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}
.card .text {
  padding: 10px 20px 20px;
  color: #141b29;
  background-color: rgba(211, 221, 215, 0.5);
  /* border: 5px solid #d3ddd7; */
  border-right: 10px solid #fff;
  border-left: 10px solid #fff;
}

#cf {
  position: relative;
  height: 220px;
  width: 297px;
  margin: 0 auto;
  align-items: center;
  align-content: center;
}
#cf img {
  /* top: 50px; */
  /* box-shadow: 4px 10px 16px 0px rgba(0, 0, 0, 0.3); */
  height: 220px;
  width: 297px;
  align-self: center;
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  border-bottom: #fff 3px solid;
}

#cf img {
  animation-name: cfFadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  animation-direction: alternate;
}
#cf img:nth-of-type(1) {
  animation-delay: 8s;
}
#cf img:nth-of-type(2) {
  animation-delay: 4s;
}
#cf img:nth-of-type(3) {
  animation-delay: 0s;
}
/* #cf img:nth-of-type(4) {
  animation-delay: 2s;
}
#cf img:nth-of-type(5) {
  animation-delay: 0s;
} */
@keyframes cfFadeInOut {
  0% {
    opacity: 1;
  }
  16.7% {
    opacity: 1;
  }
  33.3333333333% {
    opacity: 0;
  }
  83.3333333333% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Contactme text*/
.contactme {
  font-size: 1.3rem;
  font-family: "Arvo", sans-serif;
  font-weight: 500;
  text-align: justify;
}

/*hover animations*/

/* Wobble To Bottom Right */
@-webkit-keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-bottom-right {
  16.65% {
    -webkit-transform: translate(8px, 8px);
    transform: translate(8px, 8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, -6px);
    transform: translate(-6px, -6px);
  }
  49.95% {
    -webkit-transform: translate(4px, 4px);
    transform: translate(4px, 4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  83.25% {
    -webkit-transform: translate(1px, 1px);
    transform: translate(1px, 1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.hvr-wobble-to-bottom-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-to-bottom-right:hover,
.hvr-wobble-to-bottom-right:focus,
.hvr-wobble-to-bottom-right:active {
  -webkit-animation-name: hvr-wobble-to-bottom-right;
  animation-name: hvr-wobble-to-bottom-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* wobble bottom right end */
/* Wobble To Top Right */
@-webkit-keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
@keyframes hvr-wobble-to-top-right {
  16.65% {
    -webkit-transform: translate(8px, -8px);
    transform: translate(8px, -8px);
  }
  33.3% {
    -webkit-transform: translate(-6px, 6px);
    transform: translate(-6px, 6px);
  }
  49.95% {
    -webkit-transform: translate(4px, -4px);
    transform: translate(4px, -4px);
  }
  66.6% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  83.25% {
    -webkit-transform: translate(1px, -1px);
    transform: translate(1px, -1px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.hvr-wobble-to-top-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-to-top-right:hover,
.hvr-wobble-to-top-right:focus,
.hvr-wobble-to-top-right:active {
  -webkit-animation-name: hvr-wobble-to-top-right;
  animation-name: hvr-wobble-to-top-right;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/* Wobble To Top Right end */

/* Bubble Right */
.hvr-bubble-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
}
.hvr-bubble-right:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: "";
  border-style: solid;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  top: calc(50% - 10px);
  right: 20px;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #1d1919;
}
.hvr-bubble-right:hover:before,
.hvr-bubble-right:focus:before,
.hvr-bubble-right:active:before {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

/* Sweep To Right from Hover.css*/
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 0.5em;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: #1d1919;
}
.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* Sweep To Right from Hover.css End*/

.about_intro {
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 20px;
  font-family: "Arvo";
  width: 90%;
}
.wordcarousel {
  /* font-size: 36px; */
  /* font-weight: 500; */
  color: #fff;
}
.flip {
  overflow: hidden;
  position: relative;
  /* float: right; */
  top: 10px;
  height: 75px;
  /* width: 400px; */

  padding-top: 10px;
  margin-top: 30px;
}
ul.flip4 {
  list-style: none;
  padding-inline-start: 0;
  color: #32dd7f;
}
.swipe {
  font-family: "Arvo";
  color: #32dd7f;
  /* font-size: 50px; */
  font-weight: 800;
  padding: 0 0px;
  height: 45px;
  margin-bottom: 45px;
  display: block;
  /* width: 300px; */
}
.flip2 {
  animation: flip2 4s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip3 {
  animation: flip3 6s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

.flip4 {
  animation: flip3 8s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip2 {
  0% {
    margin-top: -180px;
  }

  5% {
    margin-top: -90px;
  }
  50% {
    margin-top: -90px;
  }
  55% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip3 {
  0% {
    margin-top: -270px;
  }

  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
@keyframes flip4 {
  0% {
    margin-top: -360px;
  }

  5% {
    margin-top: -270px;
  }
  25% {
    margin-top: -270px;
  }
  30% {
    margin-top: -180px;
  }
  50% {
    margin-top: -180px;
  }
  55% {
    margin-top: -90px;
  }
  75% {
    margin-top: -90px;
  }
  80% {
    margin-top: 0px;
  }
  99.9% {
    margin-top: 0px;
  }
  80% {
    margin-top: -270px;
  }
}
